* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #141922;
    --secondary-color: #000000;
    --secondary-color-light: #070B12;
    --secondary-color-storng: #282828;
    --primary-text-color: #808286;
    --h-text-color: white;
}



body {
    color: var(--primary-text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}



/* modifiche a tag */

h2 {
    color: var(--h-text-color);
    font-size: 1.2rem;
    padding: 1rem 0;
}

h4 {
    font-size: .8rem;
    color: var(--h-text-color);
    text-align: center;

}

h5 {
    padding-bottom: .7rem;
}

h6 {
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
    display: block;
    padding: .4rem;
}

a:hover {
    color: goldenrod;
}


/* width calc */

.col-1-2 {
    width: calc(100% / 2);
}

.col-1-4 {
    width: calc(100% / 4);
}

.col-1-6 {
    width: calc(100% / 6);
}



/* button */

button {
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 30px;
    background: var(--secondary-color-light);
    }

/* modifiche img */

img {
    width: 100%;
    display: block;
}

.img-container {
    position: relative;
}

.img-overlay:hover {
    opacity: 1;
}

.img-overlay {
    border-radius: 50%;
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(130, 119, 119, 0.4);
    backdrop-filter: blur(1px);
    transition: opacity .5s, backdrop-filter .5s;
}


.img-small {
    width: 28px;
    display: block;
}

.img-rounded {
    width: 100%;
    display: block;
    border-radius: 50%;
    overflow: auto;
}

.img-bottom-bar {
    width: 50px;
    display: block;
}

/* padding */

.pad-1-0-rm {
    padding: 1rem 0;
}

.pad-le-05 {
    padding-left: .5rem;
}

.pad-le-1 {
    padding-left: 1rem;
}

.padding-top-05 {
    padding-top: .5rem;
}

.pad-1-rem {
    padding: 1rem;
}


/* contenitori principali */


.top-container {
    flex-grow: 1;
    display: flex;
    overflow: auto;
}

.main-container {
    flex-grow: 1;
    overflow: auto;
    background-color: var(--primary-color);
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem ;
    overflow: auto;
}

.col {
    padding: 1rem;
}

.card {

}

/* sidebar */


.sidebar {
    background-color: var(--secondary-color);
    width: 40px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-center .palylist-container {
    display: none;
}

.sidebar-top {
    flex-shrink: 0;
}

.sidebar-top .text-n-icon {
    display: none;
}

.logo-sidebar {
    padding-bottom: 1rem;
}

.sidebar-center {
    flex-grow: 1;
}

.sidebar-bottom {
    flex-shrink: 0;
}

.sidebar-bottom .text-n-icon {
    display: none;
}

.sidebar .sidebar-top  a {
    display: flex;
    align-items: center;
}

.sidebar .sidebar-bottom  a {
    display: flex;
    align-items: center;
}

.plus-box {
    border-radius: 8px;
    height: 3rem;
    width: 3rem;
    background-color: var(--secondary-color-storng);
}


/* madifiche main */

.head-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--secondary-color-light);
    height: 75px;
    padding-right: 1rem;
    position: fixed;
    top: 0;
    left: 40px;
    right: 0;
    z-index: 10;
}

.link-main {
    font-size: .8rem;
    margin-top: 75px;
    padding: .5rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-main ul {
    text-align: center;
}

/* bottom navbar */

.bottom-navbar {
    flex-shrink: 0;
    height: 75px;
    background-color: var(--secondary-color-storng);
    overflow: auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem;
}

.nav-but {
    display: flex;
    align-items: center;
}

.nav-left {
    
}

.nav-center {
    flex-grow: 1;
    max-width: 20rem;
}

.center-bar-comand {
    display: flex;
    justify-content: center;
}

.nav-right {
    justify-content: flex-end;
}

.nav-center .center-bar-comand a {
    color: var(--h-text-color);
}

.nav-right .nav-but a {
    color: var(--h-text-color);
}

.volume-bar {
    background-color: var(--primary-text-color);
    height: .4rem;
    border-radius: 10px;
}

.progress-bar {
    height: .4rem;
    background-color: var(--primary-text-color);
    border-radius: 10px;
}

.flex-gorw-1 {
    flex-grow: 1;
    max-width: 8rem;
}



/******************
media query 
******************/


/* SM - small */
@media screen and (min-width: 568px) {
    .sidebar {
        width: 200px;
        align-items: flex-start;
    }

    .sidebar-top .first-img {
        display: none;
    }

    .head-main {
        left: 200px;
    }


    .sidebar-center .palylist-container {
        display: block;
    }

    .sidebar-top .text-n-icon {
        display: block;
    }

    .sidebar-bottom .text-n-icon {
        display: block;
    }

}



/* MD - medium */
@media screen and (min-width: 768px) {

    /* width calc */

.col-1-2-md {
    width: calc(100% / 2);
}

.col-1-4-md {
    width: calc(100% / 4);
}

.col-1-6-md {
    width: calc(100% / 6);
}

}



/* LG - large */
@media screen and (min-width: 992px) {

    /* width calc */

.col-1-2-lg {
    width: calc(100% / 2);
}

.col-1-4-lg {
    width: calc(100% / 4);
}

.col-1-6-lg {
    width: calc(100% / 6);
}

}