* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #9692E4;
    --secondary-color: #000000;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body > * {
    border: 1px dashed red;
}

/* modifiche a tag */

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    padding: .4rem;
}

/* modifiche img */



img {
    width: 100%;
    display: block;
}

.img-small {
    width: 28px;
    display: block;
}

/* padding */

.pad-1-0-rm {
    padding: 1rem 0;
}

.pad-le-05 {
    padding-left: .5rem;
}



/* contenitori principali */


.top-container {
    flex-grow: 1;
    display: flex;
}

.main-container {
    flex-grow: 1;
    overflow: auto;
}

/* sidebar */


.sidebar {
    background-color: var(--secondary-color);
    width: 40px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-center .palylist-container {
    display: none;
}

.sidebar-top {
    flex-shrink: 0;
}

.sidebar-top .text-n-icon {
    display: none;
}

.logo-sidebar {
    padding-bottom: 1rem;
}

.sidebar-center {
    flex-grow: 1;
}

.sidebar-bottom {
    flex-shrink: 0;
}

.sidebar-bottom .text-n-icon {
    display: none;
}

.sidebar .sidebar-top  a {
    display: flex;
    align-items: center;
}

.sidebar .sidebar-bottom  a {
    display: flex;
    align-items: center;
}

/* bottom navbar */

.bottom-navbar {
    flex-shrink: 0;
    height: 100px;
}


/******************
media query 
******************/


/* SM - small */
@media screen and (min-width: 568px) {
    .sidebar {
        width: 200px;
        align-items: flex-start;
    }

    .sidebar-top .first-img {
        display: none;
    }


    .sidebar-center .palylist-container {
        display: block;
    }

    .sidebar-top .text-n-icon {
        display: block;
    }

    .sidebar-bottom .text-n-icon {
        display: block;
    }

    
}



/* MD - medium */
@media screen and (min-width: 768px) {}



/* LG - large */
@media screen and (min-width: 992px) {}